body{
    margin: 0;
    background-color: #000000;
    color: #eee;
    font-family: Sedan SC;
    font-size: 15px;
}
a{
    text-decoration: none;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    color: #ffffff;
    margin-right: 40px;
}
/* Navigation bar */
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s;
    margin: 3px;
}
.container{
    margin-left: -50px;
    margin-top: -5px;
    position: fixed;
}
.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
  }
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, 0px) rotate(45deg);
 }
/* Dropdown bar */
.dropdown {
    position: relative;
    display: inline-block;
    height: 5vh;
    margin-left: -5px;
  }
  
  .dropdown-btn {
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    padding: 0% 0px 180px 0px;
    margin-left: -50px;
    margin-top: 28px;
    background-color: #0000006d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: height 0.5s linear; /* Transition for height change */
    overflow: hidden;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #9e9c9c8f;
    padding: 12px 20px;
    width: 100%;
  }
 
.backgroundpic {
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    position: fixed;
}
.backgroundpic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0px);
}
.container {
    max-width:1400px;
    margin: 20px auto;
    padding: 0 20px;
    position: relative;
}

.container table{
    height: 25vh;
    width: 50vw;
    border: 2px solid;
    margin-top: 30vh;
    padding: 10px;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0.443);
}
.container table th{
    text-align: center;
    padding-left: 37%;
    font-size: 30px
}
.container table:hover{
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.582);

}
.container table a{
    color: white;
}
  /* Mobile View */
  @media screen and (max-width: 768px) {


    nav .right {
        justify-content: flex-end;
    }

    .table-container {
        width: 95%;
    }

    tbody td:nth-child(3) {
        font-size: 30px;
    }

    .tick, .cross {
        padding: 10px 20px;
        font-size: 12px;
    }
}
